* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.mainBodySection {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  top: 700px;

}
.paragraph{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.contactBodySection{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


/* #selfie{
   display: inline-block;
    width: 200px;
    height: 200px;
    background-image: url('me.jpg');
    background-size: contain;
  
}
 */
