* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
  color: white;
}

body {
  background-color: #953553;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.mainBodySection {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  top: 500px;
  max-width: 800px
}
.mainBodySection h2 {
  margin-bottom: 30px;
}
.mainBodySection p {
  font-size: 19px;
}

.contactBodySection {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.image-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 400px;
  width: 100px;
  height: 100px;
  margin-bottom: 30px;

}

.image-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#about .contactButtons {
  margin: 1em;
}

#about .contactButtons a {
  display: inline-block;
  margin: 0 0.5em;
  font-size: 20px;
}

#about .contactButtons a:last-child,
#about .contactButtons a:nth-last-child(2) {
  margin-top: 2em;
  border: 1px solid white;
  border-radius: 0.2em;
  padding: 0.5em 1em;
  color: white;
}
.paragraph a{
  color: blue;

}
#about .contactButtons a:hover {
  cursor: pointer;
  color: black;
  border-color: black;
}
